.login_container{
    background-color:#dff7e5;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form_container{
    padding:30px 50px;
   

    border-radius: 10px;
}

.form_container div{
    width: 350px;
    position: relative;
}
.form_container input{
    display: block;
    width: 100%;
    padding: 12px 4px;
    border: none;
    background-color: transparent;
    border-bottom:2px solid #263238;
}
.form_container .form_email{
    margin-bottom: 30px;
}
.form_container .form_password{
    margin-bottom: 30px;
}
.login_heading{
    text-align: center;
    margin-bottom: 20px;
    
}
.form_container label{
    position: absolute;
    top:28%;
    left: 1%;
    transition: all .5s ease-in-out;
    color:#aaa;
    pointer-events: none;
}
.form_container input:focus{
    outline: none;
    border-bottom:1px solid red;
    
}


.form_container input:valid{
    border-bottom: 2px solid #263238;
}

.form_container input:focus +label,
.form_container input:valid +label{
    transform: translateY(-23px);
    color: #ea580c;
}


.form_container h1{
    font-size: 30px;
    font-weight: 600;
    /* color: #263238; */
}
.in_btn{

    padding: 10px 20px;
    color: white;
    width:95%;
    margin-top: 30px;
    font-size: 18px;
    background-color: #263238;
}
.in_btn:hover{
    background-color:#3c474c;
}

.in_btn:active{
   transform: scale(.99);
}