.feature{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feature .g-icon{
    color:white;
    /* color: #f36100; */
    background-color:#080808 ;
    padding: 20px;
    border-radius: 50%;
    
}
.feature h3{
    font-size: 20px;
    letter-spacing: 1px;
}
.feature p{
    max-width: 200px;
}