.chat-section{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows:1fr;
    height:87vh;
 
}

.main_{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:70px 1fr 100px;
}

